$font-primary: 'Shrikhand', cursive;
$font-secondary: 'Roboto', sans-serif;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$light-gray: #EAEAEA;
$dark-gray: #353535;
$background: #F6F6F6;
$light-green: #99E2D0;
$none: 0;

$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 30px;
$font-size-small: 15px;
$font-size-medium: 18px;
$font-size-large: 22px;