// variable --------------------------------------------

@use "_variables" as *;
@use "_mixins" as *;

// loader----------------------------------------------

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    animation: disappear 2s forwards;
    .loader {
        width: 50px;
        height: 50px;
        border: 5px solid #ccc;
        border-top-color: $color-primary;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
}

.main-page {
    opacity: 0;
    animation: appear 1s forwards;
    animation-delay: 1s;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes disappear {
    to { opacity: 0; visibility: hidden; }
}

@keyframes appear {
    to { opacity: 1; }
}

// body --------------------------------------------

body {
    @include no-margin;
}

// header --------------------------------------------

.logo {
    @include center;
    @include margin-twenty;

    @media(min-width: 1024px){
        margin: 30px 20px;
    }
}

// form --------------------------------------------

.form {
    @include center;
    box-shadow: inset 0 23px 4px -20px rgba(0,0,0,0.1);
    background-color: $light-gray;
    padding: 20px;

    @media(min-width: 768px){
        box-shadow: none;
        padding: 15px 20px;
    }

    input {
        background-color: $light-gray;
        border: none;
        width: 130px;
    }
    ::placeholder {
        @include font-center;
        @include font-medium;
        @include font-sixteen;
        font-family: $font-secondary;
        color: $dark-gray;
    }
    .fa-solid {
        color: $dark-gray;
    }
}

// Texte principal ----------------------------------------------

.main-text {
    @include center;
    @include font-center;
    box-shadow: inset 0 30px 4px -25px rgba(0,0,0,0.2);
    background-color: $background;
    font-family: $font-secondary;
    flex-direction: column;
    padding: 20px 0px 40px 0px;

    @media(min-width: 768px){
        box-shadow: none;
    }
    h1 {
        margin: 20px 60px 0px 60px;
        font-size: 24px;

        @media(min-width: 1024px){
            font-size: 40px;
            margin-bottom: 15px;
        }
    }
    p {
        @include font-light;
        color: $dark-gray;
        margin: 10px 20px;
        font-size: 18px;
    }
    button {
        @include margin-twenty;
        @include shadow;
        @include font-sixteen;
        @include font-regular;
        border-radius: 50px;
        padding: 17px 20px;
        background: linear-gradient($color-secondary, $color-primary);
        border: none;
        color: white;
        font-family: $font-secondary;
        transition: box-shadow 400ms;
        &:hover {
            background: linear-gradient(lighten($color-secondary, 5%), lighten($color-primary, 5%));
            box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.4);
        }

        @media(min-width: 1024px){
            padding: 15px 25px;
        }
    }
}

// section fonctionnement --------------------------------------

.section-fonctionnement {

    @media(min-width: 1024px){
        @include center;
    }
    .div-fonctionnement {
        margin: 50px 0px 50px 20px;
        font-family: $font-secondary;

        @media(min-width: 1024px){
            width: 60%;
        }
        .steps {
            @include center;
            flex-direction: column;
            gap: 25px;

            @media(min-width: 1024px){
                flex-direction: row;
                gap: 40px;
            }
            .step {
            @include center;
            position: relative;
            width: 100%;

            @media(min-width: 1024px){
                flex: 1;
                max-width: 30%;
            }
            }
            .circle {
                @include center;
                position: absolute;
                left: 5px;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: $color-primary;
                color: white;
                font-size: 14px;

                @media(min-width: 768px){
                    left: 60px;
                }

                @media(min-width: 1024px){
                    left: -15px;
                }
            }
            button {
                @include font-medium;
                @include shadow;
                @include font-sixteen;
                background-color: $background;
                border: none;
                font-family: $font-secondary;
                padding: 25px;
                margin-bottom: 10px;
                width: 90%;
                border-radius: 20px;

                @media(min-width: 768px){
                    width: 80%;
                }

                @media(min-width: 1024px){
                    width: 100%;
                }
            }
            .fa-solid {
                font-size: 18px;
                position: absolute;
                left: 50px;
                color: #7E7E7E;

                @media(min-width: 768px){
                    left: 200px;
                }

                @media(min-width: 1024px){
                    left: 30px;
                    font-size: 20px;
                }
            }
            .fa-store {
                color: $color-primary;
            }
        }
    }
}
// Restaurants ---------------------------------------------------------------
.section-restaurants {

    @media(min-width: 1024px){
        background-color: $background;
        @include center;
    }
    .div-restaurants {
        padding: 40px 0px;
        background-color: $background;

        @media(min-width: 1024px){
            padding-left: 15px;
            padding-top: 0px;
            width: 60%;
        }
        .cards-title {
            font-family: $font-secondary;
            padding: 0px 20px;

            @media(min-width: 1024px){
                padding-left: 0px;
            }
        }
        .cards {
            @include column-center;
            gap: 20px;

            @media(min-width: 768px){
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
            }
            @media(min-width: 1024px){
                justify-content: space-between;
            }
            .menu-link {
                position: absolute;
                inset: 0;
                text-decoration: none;
                color: inherit;
                z-index: 10;
            }
            .card {
                position: relative;
                @include column-center;
                background-color: white;
                height: 251px;
                width: 90%;
                overflow: hidden;
                border-radius: 15px;

                @media(min-width: 768px){
                    width: 45%;
                }
                img {
                    height: 70%;
                    width: 100%;
                    object-fit: cover;
                    object-position: bottom;

                    @media(min-width: 1024px){
                        object-position: center -100px;
                    }
                }
                .charonne {
                    object-position: center -160px;

                    @media(min-width: 1024px){
                        object-position: center -240px;
                    }
                }
                .content {
                    height: 30%;
                    width: 100%;
                    padding-left: 10px;
                    padding-top: 15px;
                    font-family: $font-secondary;
                    h4 {
                        @include no-margin;
                        font-size: 18px;
                        font-weight: bold;
                    }
                    p {
                        @include no-margin;
                        @include font-light;
                    }
                }
                .new {
                    position: absolute;
                    background-color: #99E2D0;
                    color: #008766;
                    font-family: $font-secondary;
                    @include font-medium;
                    font-size: 14px;
                    padding: 5px 10px;
                    border-radius: 3px;
                    top: 0px;
                    right: 10px;
                }
                // animation du coeur-----------------------------------------
                .toggle-checkbox {
                    display: none;
                }
                .toggle-label {
                    font-size: 22px;
                    position: relative;
                    i {
                        position: absolute;
                        left: 300px;
                        bottom: 50px;
                        transition: opacity 0.4s
                    }

                    @media(min-width: 1024px){
                        left: 150px;
                    }
                }
                .heart-filled {
                    opacity: 0;
                    background: linear-gradient($color-primary, $color-secondary);
                    background-clip: text;
                    color: transparent;
                }
                .toggle-checkbox:checked + .toggle-label .heart-empty {
                    opacity: 0;
                }
                .toggle-checkbox:checked + .toggle-label .heart-filled {
                    opacity: 1;
                }
            }
        }
    }
}

// Footer ------------------------------------------------------------------------

.footer {
    display: flex;
    flex-direction: column;
    background-color: $dark-gray;
    color: white;
    padding: 20px;

    @media(min-width: 1024px){
        flex-direction: row-reverse;
    }
    .footer-content {

        @media(min-width: 1024px){
            display: flex;
            flex-direction: row;
        }
    }
    .footer-title {
        padding-bottom: 10px;
    }
    h4 {
        @include font-regular;
        @include no-margin;
        font-family: $font-primary;
        font-size: 18px;

        @media(min-width: 1024px){
            padding: 40px 40px 0px 50px;
        }
    }
    p {
        @include no-margin;
        margin-top: 10px;
        font-family: $font-secondary;
    }
    .regular {
        @include font-regular;

        @media(min-width: 1024px){
            display: flex;
            flex-direction: row;
            padding-right: 20px;
            p {
                padding: 40px 5px 0px 5px;
            }
        }
    }
    .light {
        @include font-light;

        @media(min-width: 1024px){
            display: flex;
            flex-direction: row;
            padding-right: 20px;
            p {
                padding: 40px 5px 0px 5px;
            }
        }
    }
    .fa-solid {
        font-size: 13px;
    }
    .fa-utensils  {
        padding-right: 15px;
    }
    .fa-handshake-angle {
        padding-right: 10px;
    }
}