// variables-----------------------------------------------

@use "_variables" as *;
@use "_mixins" as *;

// body --------------------------------------------

body {
    @include no-margin;
    min-width: 320px;
}

// header --------------------------------------------

.logo {
    @include center;
    @include margin-twenty;

    @media(min-width: 1024px){
        margin: 30px 20px;
    }
}
.fa-arrow-left {
    position: absolute;
    font-size: 17px;
    left: 20px;
    top: 30px;

    @media(min-width: 1024px){
        top: 40px;
        font-size: 20px;
    }
}

.return {
    text-decoration: none;
    color: inherit;
}

// image du menu----------------------------------------------------------

.a-la-francaise {
    @include background-image;
    @include desktop-image;
    background-image: url("../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.la-note-enchantee {
    @include background-image;
    background-image: url("../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    
    @media(min-width: 1024px){
        height: 500px;
        background-position: center;
    }
}
.la-palette-du-gout {
    @include background-image;
    @include desktop-image;
    background-image: url("../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.le-delice-des-sens {
    @include background-image;
    @include desktop-image;
    background-image: url("../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

// menu-------------------------------------------------------------------------

.menu {
    background-color: $background;
    border-radius: 50px 50px 0 0;
    max-width: 100%;
    padding: 10px 5%;
    margin-top: -30px;
    transition: all 0.3s ease-in-out;

    @media(min-width: 768px){
        padding: 10px 50px 0px 50px;
        margin: -50px 50px 0px 50px;
    }

    @media(min-width: 1024px){
        padding: 10px 250px 0px 250px;
        margin: -50px 250px 0px 250px;
    }
    .title {
        font-family: $font-primary;
        font-weight: lighter;
        font-size: 28px;
        padding: 0 15px;
        
        @media(min-width: 1024px){
            text-align: center;
        }
    }

    // animation du coeur ---------------------------------------------------

    .toggle-checkbox {
        display: none;
    }
    .toggle-label {
        font-size: 22px;
        position: relative;
        i {
            position: absolute;
            left: 320px;
            bottom: 33px;
            transition: opacity 0.4s
        }

        @media(min-width: 1024px){
            left: 280px;
        }
    }
    .heart-filled {
        opacity: $none;
        background: linear-gradient($color-primary, $color-secondary);
        background-clip: text;
        color: transparent;
    }
    .toggle-checkbox:checked + .toggle-label .heart-empty {
        opacity: $none;
    }
    .toggle-checkbox:checked + .toggle-label .heart-filled {
        opacity: 1;
    }
}

// plats-------------------------------------------------------------------------


.un {
    opacity: $none;
    animation: appear 1000ms forwards;
}
.deux {
    opacity: $none;
    animation: appear 2000ms forwards;
}
.trois {
    opacity: $none;
    animation: appear 3000ms forwards;
}

@keyframes appear {
    to {opacity: 1;}
}

.plats {
    font-family: $font-secondary;
    padding: 0px 15px;
    margin-bottom: 40px;
    h3 {
        @include font-light;
        font-size: 16px;
        border-bottom: solid 3px $light-green;
        padding-bottom: 5px;
        width: 10%;
    }
    .plats-card {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .card {
            background: white;
            position: relative;
            width: 92%;
            border-radius: 15px;
            padding: 15px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            overflow: hidden;
            .card-content {
                display: flex;
                justify-content: space-between;
                transition: gap 330ms ease-out;
            }
            .selection {
                position: absolute;
                min-width: 0%;
                margin: -15px -15px -15px 10px;
                border-radius: 0 15px 15px 0;
                transform: translateX(70px);
                transition: transform 330ms ease-out;
                overflow: hidden;
                .fa-circle-check {
                    color: transparent;
                }
            }
        }
        .texte {
            width: 100%;
        }
        h4 {
            margin: 0px 0px 5px 0px;
            font-size: 18px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 100%;
        }
        p {
            @include no-margin;
            @include font-light;
            font-size: 15px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 100%;
        }
        .prix {
            color: $dark-gray;
            font-weight: bold;
            font-size: 15px;
            align-self: flex-end;
            margin-left: auto;

            @media(min-width: 768px){
                left: 480px;
            }

            @media(min-width: 1024px){
                left: 790px;
            }
        }
        .card:hover {
            .selection {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: $light-green;
                min-width: 59px;
                transform: translateX(0px);
                transition: transform 330ms, min-width 330ms ease-out;
                .fa-circle-check {
                    align-self: center;
                    color: white;
                    font-size: 20px;
                }
            }
            h4 {
                max-width: 80%;
            }
            p {
                max-width: 80%;
            }
        }
        .card:not(:hover) {
            .selection {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: $light-green;
                transform: translateX(70px);
                transition: transform 330ms, min-width 330ms ease-out;
            }
        }
    }
}
.commander {
    @include center;
    button {
        @include shadow;
        @include font-sixteen;
        @include font-regular;
        margin: 0px 20px 40px 20px;
        border-radius: 50px;
        padding: 15px 50px;
        background: linear-gradient($color-secondary, $color-primary);
        border: none;
        color: white;
        font-family: $font-secondary;
        transition: box-shadow 400ms;
        &:hover {
            background: linear-gradient(lighten($color-secondary, 5%), lighten($color-primary, 5%));
            box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.4);
        }

        @media(min-width: 1024px){
            padding: 15px 40px;
        }
    }
}

// Footer-----------------------------------------------------------

.footer {
    display: flex;
    flex-direction: column;
    background-color: $dark-gray;
    color: white;
    padding: 20px;

    @media(min-width: 1024px){
        flex-direction: row-reverse;
    }
    .footer-content {

        @media(min-width: 1024px){
            display: flex;
            flex-direction: row;
        }
    }
    .footer-title {
        padding-bottom: 10px;
    }
    h4 {
        @include font-regular;
        @include no-margin;
        font-family: $font-primary;
        font-size: 18px;

        @media(min-width: 1024px){
            padding: 40px 40px 0px 50px;
        }
    }
    p {
        @include no-margin;
        margin-top: 10px;
        font-family: $font-secondary;
    }
    .regular {
        @include font-regular;

        @media(min-width: 1024px){
            display: flex;
            flex-direction: row;
            padding-right: 20px;
            p {
                padding: 40px 5px 0px 5px;
            }
        }
    }
    .light {
        @include font-light;

        @media(min-width: 1024px){
            display: flex;
            flex-direction: row;
            padding-right: 20px;
            p {
                padding: 40px 5px 0px 5px;
            }
        }
    }
    .fa-solid {
        font-size: 13px;
    }
    .fa-utensils  {
        padding-right: 15px;
    }
    .fa-handshake-angle {
        padding-right: 10px;
    }
}

