// variables-----------------------------------------------

$font-primary: 'Shrikhand', cursive;
$font-secondary: 'Roboto', sans-serif;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$light-gray: #EAEAEA;
$dark-gray: #353535;
$background: #F6F6F6;
$light-green: #99E2D0;

@mixin background-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 275px;
}

@mixin column-center {
    @include center;
    flex-direction: column;
}

@mixin shadow {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@mixin margin-twenty {
    margin: 20px;
}

@mixin no-margin {
    margin: 0;
}

@mixin font-center {
    text-align: center;
}

@mixin font-medium {
    font-weight: 500;
}

@mixin font-regular {
    font-weight: 400;
}

@mixin font-light {
    font-weight: 300;
}

@mixin font-sixteen {
    font-size: 16px;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// body --------------------------------------------

body {
    @include no-margin;
}

// header --------------------------------------------

.logo {
    @include center;
    @include margin-twenty;

    @media(min-width: 768px){
        margin: 30px 20px;
    }
}
.fa-arrow-left {
    position: absolute;
    font-size: 17px;
    left: 20px;
    top: 30px;
}

.return {
    text-decoration: none;
    color: inherit;
}

// image du menu----------------------------------------------------------

.a-la-francaise {
    @include background-image;
    background-image: url("../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.la-note-enchantee {
    @include background-image;
    background-image: url("../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.la-palette-du-gout {
    @include background-image;
    background-image: url("../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.le-delice-des-sens {
    @include background-image;
    background-image: url("../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

// menu-------------------------------------------------------------------------

.menu {
    background-color: $background;
    border-radius: 50px 50px 0 0;
    margin-top: -55px;
    padding-top: 10px;
    .title {
        font-family: $font-primary;
        font-weight: lighter;
        font-size: 28px;
        padding: 0 15px;
    }

    // animation du coeur ---------------------------------------------------

    .toggle-checkbox {
        display: none;
    }
    .toggle-label {
        font-size: 22px;
        position: relative;
        i {
            position: absolute;
            left: 320px;
            bottom: 33px;
            transition: opacity 0.4s
        }

        @media(min-width: 768px){
            left: 50px;
        }
    }
    .heart-filled {
        opacity: 0;
        background: linear-gradient($color-primary, $color-secondary);
        background-clip: text;
        color: transparent;
    }
    .toggle-checkbox:checked + .toggle-label .heart-empty {
        opacity: 0;
    }
    .toggle-checkbox:checked + .toggle-label .heart-filled {
        opacity: 1;
    }
}

.plats {
    font-family: $font-secondary;
    padding: 0px 15px;
    margin-bottom: 40px;
    h3 {
        @include font-light;
        font-size: 16px;
        border-bottom: solid 3px $light-green;
        padding-bottom: 5px;
        width: 10%;
    }
    .plats-card {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .card {
            background: white;
            position: relative;
            width: 92%;
            border-radius: 15px;
            padding: 15px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            h4 {
                margin: 0px 0px 5px 0px;
            }
            p {
                @include no-margin;
                @include font-light;
                font-size: 15px;
            }
            .prix {
                position: absolute;
                left: 320px;
                bottom: 15px;
                color: $dark-gray;
                font-weight: bold;
                font-size: 15px;
            }
        }
    }
}
.commander {
    @include center;
    button {
        @include shadow;
        @include font-sixteen;
        @include font-regular;
        margin: 0px 20px 40px 20px;
        border-radius: 50px;
        padding: 15px 50px;
        background: linear-gradient($color-secondary, $color-primary);
        border: none;
        color: white;
        font-family: $font-secondary;
        transition: box-shadow 400ms;
        &:hover {
            background: linear-gradient(lighten($color-secondary, 5%), lighten($color-primary, 5%));
            box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.4);
        }

        @media(min-width: 768px){
            padding: 15px 25px;
        }
    }
}

// Footer-----------------------------------------------------------

.footer {
    display: flex;
    flex-direction: column;
    background-color: $dark-gray;
    color: white;
    padding: 20px;

    @media(min-width: 768px){
        flex-direction: row-reverse;
    }
    .footer-content {

        @media(min-width: 768px){
            display: flex;
            flex-direction: row;
        }
    }
    .footer-title {
        padding-bottom: 10px;
    }
    h4 {
        @include font-regular;
        @include no-margin;
        font-family: $font-primary;
        font-size: 18px;

        @media(min-width: 768px){
            padding: 40px 40px 0px 50px;
        }
    }
    p {
        @include no-margin;
        margin-top: 10px;
        font-family: $font-secondary;
    }
    .regular {
        @include font-regular;

        @media(min-width: 768px){
            display: flex;
            flex-direction: row;
            padding-right: 20px;
            p {
                padding: 40px 5px 0px 5px;
            }
        }
    }
    .light {
        @include font-light;

        @media(min-width: 768px){
            display: flex;
            flex-direction: row;
            padding-right: 20px;
            p {
                padding: 40px 5px 0px 5px;
            }
        }
    }
    .fa-solid {
        font-size: 13px;
    }
    .fa-utensils  {
        padding-right: 15px;
    }
    .fa-handshake-angle {
        padding-right: 10px;
    }
}