body {
  margin: 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 10px gray;
  background-color: #EAEAEA;
  padding: 20px;
}
.form input {
  background-color: #EAEAEA;
  border: none;
  width: 130px;
}
.form ::placeholder {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #353535;
}
.form .fa-solid {
  color: #353535;
}

.main-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  margin-top: 20px;
}
.main-text h1 {
  margin: 20px 60px 0px 60px;
  font-size: 24px;
}
.main-text p {
  font-weight: 300;
  color: #353535;
  margin: 10px 20px;
  font-size: 18px;
}
.main-text button {
  margin: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 400;
  border-radius: 50px;
  padding: 17px 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  transition: box-shadow 400ms;
}
.main-text button:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.4);
}

.fonctionnement {
  margin: 80px 0px 80px 20px;
  font-family: "Roboto", sans-serif;
}
.fonctionnement .steps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.fonctionnement .steps .step {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.fonctionnement .steps .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  font-size: 14px;
}
.fonctionnement .steps button {
  font-weight: 500;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  background-color: white;
  border: none;
  font-family: "Roboto", sans-serif;
  padding: 25px;
  margin-bottom: 10px;
  width: 90%;
  border-radius: 20px;
}
.fonctionnement .steps .fa-solid {
  font-size: 18px;
  position: absolute;
  left: 50px;
  color: #7E7E7E;
}
.fonctionnement .steps .fa-store {
  color: #9356DC;
}

.restaurants {
  padding: 40px 0;
}

.cards-title {
  font-family: "Roboto", sans-serif;
  padding: 0px 20px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cards .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 251px;
  width: 90%;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  padding-bottom: 10px;
}
.cards .card img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}
.cards .card .charonne {
  object-position: center -160px;
}
.cards .card .content {
  height: 30%;
  width: 100%;
  padding-left: 20px;
  padding-top: 15px;
  font-family: "Roboto", sans-serif;
}
.cards .card .content h4 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
.cards .card .content p {
  margin: 0;
  font-weight: 300;
}
.cards .card .new {
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 3px;
  top: 0px;
  right: 10px;
}
.cards .card .toggle-checkbox {
  display: none;
}
.cards .card .toggle-label {
  font-size: 22px;
  position: relative;
}
.cards .card .toggle-label i {
  position: absolute;
  left: 130px;
  bottom: 33px;
  transition: opacity 0.4s;
}
.cards .card .heart-filled {
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
}
.cards .card .toggle-checkbox:checked + .toggle-label .heart-empty {
  opacity: 0;
}
.cards .card .toggle-checkbox:checked + .toggle-label .heart-filled {
  opacity: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding: 20px;
}
.footer .footer-title {
  padding-bottom: 10px;
}
.footer h4 {
  font-weight: 400;
  margin: 0;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
}
.footer p {
  margin: 0;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}
.footer .regular {
  font-weight: 400;
}
.footer .light {
  font-weight: 300;
}
.footer .fa-solid {
  font-size: 13px;
}
.footer .fa-utensils {
  padding-right: 15px;
}
.footer .fa-handshake-angle {
  padding-right: 10px;
}

@media (min-width: 768px) {
  .logo {
    margin: 30px 20px;
  }
  .form {
    box-shadow: none;
    padding: 15px 20px;
  }
  main {
    width: 80%;
    margin: 0 auto;
  }
  .main-text h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .main-text button {
    padding: 15px 25px;
  }
  .steps {
    flex-direction: row !important;
  }
  .steps .step {
    flex: 1;
    max-width: 30%;
  }
}/*# sourceMappingURL=style.css.map */